.backgroundPanel {
    background-image: url("../../public/fondo.png");
    background-repeat: repeat;
    background-size:cover;

}
.activeBlur {
    filter: blur(3px);
    transition: all .5s;
}

.activeBlurError {
    filter: blur(3px);
    transition: all .5s;
}

.containerPosterActive {
    animation: aparecer .7s ease-in;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;

}
.containerPosterInactive {
    display: none;

}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }