.container-consult-stadium {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: aparecer .5s ease-in;


} 

.container-consult-stadium h1 {
    margin-left: 72px;
    display: flex;
    padding: 15px 0 15px 0;
    text-align: center; 
    color: aliceblue;
    font-size: 50px;
}

.container-consult-stadium .box-consult {

  margin-left: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 25px;
  padding-top: 40px;
  padding-bottom: 25px;
}

.container-consult-stadium .box-btn {
  margin-top: 35px;
}





@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

