
.container-courts {
    margin-left: 72px;
    background: url("../assets/fondo.png");
    width: 100%;
    height: 100%;
    animation: aparecer .5s ease-in;
}


@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}