

.container-edit-reservation-stadium {
    margin-left: 72px;
    animation: aparecer .5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container-edit-reservation-stadium h1 {
    width: 100%;
    padding: 15px 0 15px 0;
    text-align: center;
    color: aliceblue;
    font-size: 42px; 
}


@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (min-width:350px) AND (max-width: 400px) {
    .container-edit-reservation-stadium {
      margin-left: 38px;
  }
  
  }