.container-home {
    margin-left: 73px;
    animation: aparecer .5s ease-in;
    
}
.container-home h1 {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}


@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  