.container-home {
    margin-left: 73px;
    animation: aparecer .5s ease-in;
    
}
.container-home h1 {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.active-blur {
  filter: blur(3px);
  transition: all .5s;
}



@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  