.container-list {

   width: 100%

}

.container-list thead tr {
    background-color: black;
    font-size: 18px;
    color: white;

}
.container-list thead tr th {
    padding: 15px;
    border: 4px solid green;
}

.container-list thead tr th:first-child {
    width: 65%;
    text-align: left;
}

.container-list tbody tr {
    background-color: aliceblue;

}

.container-list tbody tr td {
    padding: 15px;
}