.grid-table {

    display: grid;
    width: 100%;
    grid-template-columns: 2fr repeat(5, 1fr);
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 15px;
}

.grid-item-head {
    padding: 20px;
}

.grid-table-body {
    margin-top: 15px;
    position: relative;
    display: grid;
    width: 100%;
    grid-auto-columns: minmax(120px,2fr) repeat(4,minmax(80px, 1fr));
    font-size: 20px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}


@media (min-width: 350px) AND (max-width: 472px) {

    .grid-table {
        padding: 5px 0 0 0;    
        font-size: 13px;
        overflow-x: scroll;

        margin-left: 8px;
        grid-template-columns: repeat(6, 50px);
    }
    .grid-item-head {


    }


}