.container-list {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;


}

.container-list thead tr {
    background-color: black;
    font-size: 25px;
    color: white;

}
.container-list thead tr th {
    padding: 15px;
    border: 4px solid green;
}

.container-list thead tr th:first-child {

    text-align: left;
}

.container-list thead tr th:last-child {

    display: flex;
    justify-content: center;
    align-items: center;
}


.container-list tbody tr {
    background-color: aliceblue;

}

.container-list tbody tr td {
    padding: 15px;
    font-size: 20px;
}

.container-list tbody tr td {
    padding: 15px;
    font-size: 20px;
}
.container-list tbody tr td.name-client {
    width: 130px;
    overflow-wrap: break-word; /* Para versiones modernas de CSS */

}

.container-list tbody tr td img {
    width: 35px;
    height: 35px;
    margin: 0 3px 0 3px;
    padding: 1px;
    border: 3px black solid;
    border-radius: 50%;
}

.container-list tbody tr td img:hover {
background-color: #24c704;
cursor: pointer;
transition: all .4s;

}
@media (min-width: 350px) AND (max-width: 472px) {
    .container-list {
        width: 300px;
        padding-left: 270px;
        overflow-x: scroll;
    }

    .container-list thead tr {
        
        font-size: 18px;

    
    }
    .container-list tbody tr td {
        
        font-size: 18px;
    }
    .container-list tbody tr td img {
        transform: translateX(15px);   
    }

}

@media (min-width: 472px) AND (max-width: 600px) {
    .container-list {
        width:365px;
        padding-left: 240px;
        overflow-x: scroll;
    }

    .container-list thead tr {

        font-size: 20px;

    
    }
    .container-list tbody tr td {

        font-size: 19px;
    }
}

@media (min-width: 601px) AND (max-width: 700px) {
    .container-list {
        width: 500px;
        padding-left: 165px;
        overflow-x: scroll;
    }

    .container-list tbody tr td img {
        transform: translateX(12px);
    }

}

@media (min-width: 701px) AND (max-width: 770px) {
    .container-list {
        width: 600px;
        padding-left: 50px;
        overflow-x: scroll;
    }

    .container-list tbody tr td img {
        transform: translateX(12px);
    }

}

@media (min-width: 770px) AND (max-width: 811px) {
    .container-list tbody tr td img {
        transform: translateX(25px);
    }
}