    .container-spinner {
        display: none;
        width: 50px;
        height: 50px;
    }

    .sp-active {
        display: inherit;
    }
  
  @keyframes animation {
    0% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -105;
    }
    50% {
      stroke-dasharray: 80 10;
      stroke-dashoffset: -160;
    }
    100% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -300;
    }
  }
  
  .circle-spinner {
    transform-origin: center;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;

    fill:transparent;
    stroke: #3c9413;
    stroke-width: 10px;
    stroke-linecap: round;
    filter:url(#shadow);
  }

.container-spinner.sp-login {
    transform: translateY(10px);
    
}

.container-spinner.sp-reservation {
  transform: translateY(-20px);
}

.container-spinner.sp-consultStadium {
  margin-bottom: 15px;
}