
.container-subhome {
    animation: aparecer .5s ease-in;
}

.container-subhome h1 {
    font-size: 45px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}