.container-home {
    margin-left: 72px;
    animation: aparecer .5s ease-in;

    
}
.container-home h1 {

    padding: 15px 0 15px 0;
    text-align: center;
    color: aliceblue;
    font-size: 45px;
}

.active-blur {
  filter: blur(3px);
  transition: all .5s;
}



@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  