
    .sp-active {
        display: inherit !important;
    }

  
  @keyframes animation {
    0% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -105;
    }
    50% {
      stroke-dasharray: 80 10;
      stroke-dashoffset: -160;
    }
    100% {
      stroke-dasharray: 1 98;
      stroke-dashoffset: -300;
    }
  }
  
  .circle-spinner {
    transform-origin: center;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;
    z-index: 9999;

    fill:transparent;
    stroke: #3c9413;
    stroke-width: 10px;
    stroke-linecap: round;
    /* filter:url(#shadow); */
  }

.sp-login {
    display: none;
    width: 50px;
    height: 50px;
    transform: translateY(10px);
    
}
.sp-reservation {
  display: none;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}

.sp-consultStadium {
  margin-bottom: 15px;
}

.sp-stadiums {
  display: none;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
  margin: 0 auto;
}

.sp-btn-reserve {
  display: none;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
  transform: translate(190px, -50px);


}

.sp-btn-consult {
  display: none;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
  transform: translate(190px, -50px);

}

.sp-btn-search-reserve {
  display: none;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  padding: 5px;

}