.backgroundPanel {
    background-image: url("../../public/fondo.png");
    background-repeat: repeat;
    background-size:cover;
    height: 100vh;
}


.activeBlur {
    filter: blur(3px);
    transition: all .5s;
}
