.poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px outset #225809;
    border-radius: 22px;
    color: rgb(255, 255, 255);
    padding: 20px;
    background: rgb(112, 112, 112);
    gap: 15px;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);

}

.tittle,
.subtittle {
    text-align: center;
}

