.poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px outset #225809;
    border-radius: 22px;
    color: rgb(255, 255, 255);
    padding: 20px;
    background: rgb(112, 112, 112);
    gap: 15px;

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset; */
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);

}

.tittle,
.subtittle {
    text-align: center;
}

